In [1]:
#Linear Regression with multiple variables
#importing necessary library files
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [29]:
#loading the data file
data=pd.read_csv("C:\\Users\\inspiron\\Documents\\ex1data2.txt",header=None)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [32]:
#setting the parameters
x=data.iloc[:,0:2]
y=data.iloc[:,2]
m=len(y)

x=(x-np.mean(x))/np.std(x) #feature scaling 
y=y[:,np.newaxis]

ones=np.ones((m,1))
theta=np.zeros((3,1))
x= np.hstack((ones, x))
iterations=2000
alpha=0.01

In [19]:
#defining cost function
def computeCost(x,y,theta):
    temp=np.dot(x,theta)-y
    return np.sum(np.power(temp,2))/(2*m)
j=computeCost(x,y,theta)
print(j)

65591548106.45744

In [20]:
#defining gradient descent function and finding the new theta
def GradientDescent(x,y,theta,alpha,iterations):
    for i in range(iterations):
        temp=np.dot(x,theta)-y
        temp=np.dot(x.T,temp)
        theta=theta-(alpha/m)*temp
    return theta
theta1=GradientDescent(x,y,theta,alpha,iterations)
print(theta1)

[[340412.65894002]
 [109439.22578243]
 [ -6569.78416695]]

In [22]:
#checking the new value of cost function
j=computeCost(x,y,theta1)
print(j)

2043280082.9261768

In [24]:
#using normal equation
def NormalEqn(x,y):
    t=np.dot(x.T,x)
    t= np.linalg.inv(t)
    t=np.dot(t,x.T)
    return np.dot(t,y)
t=NormalEqn(x,y)
print(t)

[[340412.65957447]
 [109447.79646964]
 [ -6578.35485416]]

In [26]:
#checking the new value of cost function
computeCost(x,y,t)

2043280050.6028287